<a class="btn btn-primary" href="#" role="button" [routerLink]="['new']">New <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
<br>
<br>
<table class="table table-hover table-sm">
  <thead class="text-white bg-primary">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Third Name</th>
      <th>Fourth Name</th>
      <th>Gender</th>
      <th>BirthDate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let individual of individuals">
      <td>{{ individual.ID }}</td>
      <td>{{ individual.FirstName }}</td>
      <td>{{ individual.SecondName }}</td>
      <td>{{ individual.ThirdName }}</td>
      <td>{{ individual.FourthName }}</td>
      <td>{{ individual.Gender.EnglishName }}</td>
      <td>{{ individual.BirthDate | date:'mediumDate' }}</td>
    </tr>
  </tbody>
</table>