<div *ngIf="_matrix" class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h4>{{ _matrix.Name }} / {{ _matrix.Code }}</h4>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <form (ngSubmit)="addCategory()" class="row" id="new-category-form">
          <div class="col-md-5">
            <div class="form-group">
              <label for="name">Name</label>
              <input [(ngModel)]="_newCategory.Name" type="text" name="name" id="new-category-name" class="form-control" placeholder="Category Name" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Category Name</small>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="english-name">English Name</label>
              <input [(ngModel)]="_newCategory.EnglishName" type="text" name="english-name" id="new-category-name" class="form-control" placeholder="English Category Name" aria-describedby="helpId">
              <small id="helpId" class="text-muted">English Name</small>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="weighting">Weighting</label>
              <input [(ngModel)]="_newCategory.Weighting" type="number" name="weighting" id="new-category-weighting" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">0%-100%</small>
            </div>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>English Name</th>
              <th>Weighting</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of _matrix.ParamCategories">
              <td>{{ category.Name }}</td>
              <td>{{ category.EnglishName }}</td>
              <td>{{ category.Weighting }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
