<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/211976ed-7785-4afc-a82a-d2218dcfa7a5/resourcegroups/ProcomplianceApp/providers/Microsoft.Web/sites/ComplianceWebAPI</ResourceId>
    <ResourceGroup>ProcomplianceApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://compliancewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>compliancewebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ComplianceWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ComplianceWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureServer" Order="1" Enabled="False">
          <Destination Path="Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;Application Name=EntityFramework" Name="Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureServer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=procompliancedb.database.windows.net;initial catalog=ComplianceAPIDB;persist security info=True;user id=jnieto;password=compliance_01;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AzureServer-Web.config Connection String">
      <ParameterValue>data source=procompliancedb.database.windows.net;initial catalog=ComplianceAPIDB;persist security info=True;user id=jnieto;password=compliance_01;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AzureServer-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AzureServer-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AzureServer-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AzureServer-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AzureServer-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ParamsModel-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IndividualsModel-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CountriesModel-Web.config Connection String">
      <ParameterValue>Data Source=procompliancedb.database.windows.net;Initial Catalog=ComplianceAPIDB;Persist Security Info=True;User ID=jnieto;Password=compliance_01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>