<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Individual Form
        </h4>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first-name">First Name</label>
                <input [(ngModel)]="individual.FirstName" type="text" name="first-name" id="first-name" class="form-control" placeholder="Individual´s First Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*Required</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="second-name">Second Name</label>
                <input type="text" [(ngModel)]="individual.SecondName" name="second-name" id="second-name" class="form-control" placeholder="Individual´s Second Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*When is provided</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="firs-name">Third Name</label>
                <input type="text" [(ngModel)]="individual.ThirdName" name="third-name" id="third-name" class="form-control" placeholder="Individual´s Third Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*When is provide d</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fourth-name">Fourth Name</label>
                <input type="text" [(ngModel)]="individual.FourthName" name="fourth-name" id="fourth-name" class="form-control" placeholder="Individual´s Fourth Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*When is provided</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" [(ngModel)]="individual.GenderID" name="GenderID" id="GenderID">
                  <option value="" disabled selected>Select one</option>
                  <option *ngFor="let gender of genders" [value]="gender.ID">{{gender.Name}}</option>
                </select>
                <small id="gender" class="text-muted">*Select one</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="birthDate">Birth Date</label>
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="individual.BirthDate" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-addon" (click)="d.toggle()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </div>
                </div>
                <small id="birthdateHelp" class="text-muted">*Select one</small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="saveIndividual()"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
      </div>
    </div>
  </div>

</div>