<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Individual Form
        </h4>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" id="first-name" class="form-control" placeholder="Individual´s First Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*Required</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="second-name">Second Name</label>
                <input type="text" name="second-name" id="second-name" class="form-control" placeholder="Individual´s Second Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*When is provided</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="firs-name">Third Name</label>
                <input type="text" name="third-name" id="third-name" class="form-control" placeholder="Individual´s Third Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*When is provided</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fourth-name">Fourth Name</label>
                <input type="text" name="fourth-name" id="fourth-name" class="form-control" placeholder="Individual´s Fourth Name" aria-describedby="helpId">
                <small id="helpId" class="text-muted">*When is provided</small>
              </div>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>

</div>