<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          New Matrix
        </h4>
        <form (ngSubmit)="onSubmit()" class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="newMatrix.Name" name="name" id="name" class="form-control" placeholder="Name" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Matrix Name</small>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="code">Code</label>
              <input type="text" [(ngModel)]="newMatrix.Code" name="code" id="code" class="form-control" placeholder="Code" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Matrix Code</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" [(ngModel)]="newMatrix.Description" name="description" id="description" class="form-control" placeholder="Description"
                aria-describedby="helpId">
              <small id="helpId" class="text-muted">Matrix Description</small>
            </div>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">All Matrices</h4>
        <table class="table table-sm">
          <thead class="text-white bg-primary">
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>Name</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let matrix of matrices">
              <td>{{ matrix.ID }}</td>
              <td>{{ matrix.Code }}</td>
              <td>{{ matrix.Name }}</td>
              <td>{{ matrix.Description }}</td>
              <td>
                <a [routerLink]="['/Params/Matrix', matrix.ID]"> <i class="fa fa-edit" aria-hidden="true" placement="top" ngbToolTip="Edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
