<ul class="nav nav-pills flex-column ">
  <li class="nav-item"><a [routerLink]="['home']" class="nav-link" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
  <li class="nav-item"><a [routerLink]="['individuals']" class="nav-link" routerLinkActive="active"><i class="fa fa-user-circle" aria-hidden="true"></i> Individuals</a></li>
  <li class="nav-item"><a [routerLink]="['params']" class="nav-link" routerLinkActive="active"><i class="fa fa-bar-chart-o" aria-hidden="true"></i> Parameters</a> </li>
</ul>